<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta >
<title>Menu</title>
<meta charset="utf-8">
<link href="/css/estilo.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
 <h1>
    <a href="#menu">Iniciar</a>
 </h1>
    
<div class="popover" id="menu">
 <div class = 'content'>
  <a href="#" class="close"></a>
   <div class = 'nav'>
    <ul class = 'nav_list'>
      
      <div class = 'nav_list_item'>
	  <li><a href="/formulario">Cadastrar</a></li>
      </div>
     <div class = 'nav_list_item'>
		<li><a href="/listar">Listar</a></li>
      </div>      
	</ul>
  </div>
 </div>
 </div>
 </div>
 
</body>
</html>